@import "_normalize";
@import "_variables";


html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-color: #fff;
  font-family: $font;
  color: #0E2633;

}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
  padding: 0 0;
 
}


//header styles
.header {
  width: 100%;
  height: 19.5rem;
  background: linear-gradient(192.6deg, #194964 -20.04%, #0D2533 23.76%, #194964 61.63%);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex: none;
  flex-direction: column;
  
  

  &__search {
    margin-bottom: 47px;
    display: flex;
    justify-content: center;

    &--input {
      width: 480px;
      height: 45px;
      border-radius: 5px;
      border: none;
      padding: 10px;
      margin: 0px 20px 0 20px;
      font-weight: 900;
      
    }
    &--button {
      width: 180px;
      height: 45px;
      font-weight: 900;
    }
  }
  &__geolocalization {
    &--button {
      width: 80px;
      height: 45px;
      margin:0;
      background-image: url("/assets/img/localization.svg");
      background-repeat: no-repeat;
      background-position: center;
      transition: background-image .3 ease-in-out;

      &:hover {
        background-image: url("/assets/img/localization1.svg");
        
      }
    }
    
   
  }

  
}

.logo {
  margin-top: 36px;
  margin-bottom: 65px;
}
.button {
  background-color: #FFE74A;
  border: 1px solid #BDBDBD;
  border-radius: 5px;
  margin-right: 20px;
  transition: background-color .3 ease-in-out, color .3 ease-in-out, border-color .3 ease-in-out ;

  &:hover {
    background-color: #153B51;
    color: white;
    border-color: #FFE74A;
  }
}

// main container styles

.main__container {
  width: 980px;
  flex: 1 0 auto; /* 2 */
  display: grid;
  grid-template-columns: 260px 680px;
  grid-auto-rows: auto;
  grid-template-areas:
      "weather chart"
      "weather chart"
      "forecast forecast";
  align-content: start;
  padding-top: 40px;
  grid-column-gap: 40px;
  grid-row-gap: 20px;
}
.weatherForToday{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.weatherToday {
  &__header {
    width: 260px;
    max-height: 120px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding-left: 50px;
    padding-right: 30px;
    padding-bottom: 19px;
    align-content: center;
    border: 1px solid rgba(25, 73, 100, 0.38);
    border-radius: 5px;
  }
  &__head {
    text-align: start;
    margin-bottom: 0;
  }

  &__degrees {
    width: 260px;
    height: 116px;
    padding-top: 20px;
    background: radial-gradient(50% 50% at 50% 50%, #516F81 0%, #425B6A 100%);
    align-items: center;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 15px;
  }

  &__parameter {
    margin-top: -1px;
    min-height: 40px;
    width: 260px;
    border: 1px solid rgba(25, 73, 100, 0.38);
    border-radius: 5px;
    line-height: 0.6;
    padding-left: 7px;
    font-size: 0.75rem;
    display: flex;
  }

  &__parameterName {
    width: 90px;
    text-align: left;
  }
  &__parameterValue {
    float: center;
  }
}

.headText {
  margin-top: 0;
  margin-bottom: 0;

  &--head {
    text-align: left;
    padding-left: 20px;
  }

  &--degrees {
    color: #FFE74A;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.51);
    font-size: 42px;
    margin-left: 10px;
  }

  &--description {
    color: #FFFFFF;
  }
}

.chartTemp {
  position: relative;
  width: 680px;
  height: 341px;
  border: 1px solid rgba(25, 73, 100, 0.38);
  border-radius: 5px;
  grid-area: chart;
  display: flex;
  justify-content: center;
  align-items: center;

  &__canvas {
    border-radius: 5px;
  }

  &__tooltip {
    height: 40px;
    width: 100px;
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: #fff;
    border-radius: 5px;
    border: 2px solid #153B51;
    font-size: 12px;
    padding: 5px;
  }
}

.weatherForecast {
  position: relative;
  grid-area: forecast;
  max-width: 61.25rem;
  min-height: 5.3125rem;
  border: 1px solid rgba(25, 73, 100, 0.38);
  border-radius: 5px;
  display: flex;
  padding: 10px;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 10px;

  &__day {
    width: 120px;
    height: 65px;
    border-radius: 5px;
    border: 1px solid rgba(25, 73, 100, 0.38);
    background-color: #F3F3F3;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1.5;
  }
  &__dayElement {
    margin: 5px;
  }
}

.weatherImage {
  filter: brightness(0) saturate(100%) invert(87%) sepia(81%) saturate(3834%) hue-rotate(320deg) brightness(111%) contrast(103%);
}

.footer__image {
  width: 100%;
  height: 15vh;
  background-image: url(../assets/img/footer.svg);
  background-size: cover;
  background-repeat: no-repeat;
  flex-shrink: 0;
}

@media only screen and (min-width:60rem) and (max-width: 70rem) {


  .chartTemp {
    display: none;
  }

  .main__container {
    padding-top: 20px;
    grid-template-areas:
      "weather forecast"
      "weather forecast";
  }

  .weatherForecast {
    height: 341px;
    column-gap: 1;
    row-gap: 0px;
    justify-content: space-around;
    flex-wrap: wrap;

    
    &__day {
      margin-right: 5px;
      margin-left: 5px;
      flex: 1 1 40%;
    }
  }
}

@media only screen and (max-width: 64rem) {
  .header {
    &__search {
      margin-bottom: 10px;
      width: 80vh;
      flex-wrap: wrap;
      row-gap: 20px;
    }
  }

  .main__container {
    width: 90vw;;
    padding: 20px;
    grid-template-areas:
      "weather"
      "forecast";
    justify-items: center;
  }

  .weatherForToday {
    width: 80vw;
    flex-direction: row;
  }

  .weatherForecast {
    width: 80vw;;
    flex-direction: row;

  }
}