@import "_normalize";
@import "_variables";


html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-color: #fff;
  font-family: $font;
  color: #0E2633;

}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
  padding: 0 0;
 
}

.header--firstLoad {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(192.6deg, #194964 -20.04%, #0D2533 23.76%, #194964 61.63%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex: none;
  flex-direction: column;
}
//header styles
.header {
  width: 100%;
  height: 28vh;
  background: linear-gradient(192.6deg, #194964 -20.04%, #0D2533 23.76%, #194964 61.63%);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex: none;
  flex-direction: column;
  
  

  &__search {
    width: 50%;
    height: 10vh;
    display: flex;
    justify-content: space-around;
    align-content: center;
    flex-wrap: wrap;

    &--input {
      min-width: 250px;
      width: 25vw;
      height: 45px;
      border-radius: 5px;
      border: none;
      padding: 10px;
      font-weight: 900;
      
    }
    &--button {
      width: 150px;
      height: 45px;
      font-weight: 900;
    }
  }
  &__geolocalization {
    &--button {
      width: 80px;
      height: 45px;
      margin:0;
      background-image: url("../assets/img/localization.svg");
      background-repeat: no-repeat;
      background-position: center;
      transition: background-image .3 ease-in-out;

      &:hover {
        background-image: url("../assets/img/localization1.svg");
        
      }
    }
    
   
  }

  
}

.logo {
  margin-top: 2vh;
  margin-bottom: 3vh;
}
.button {
  background-color: #FFE74A;
  border: 1px solid #BDBDBD;
  border-radius: 5px;
  transition: background-color .3 ease-in-out, color .3 ease-in-out, border-color .3 ease-in-out ;

  &:hover {
    background-color: #153B51;
    color: white;
    border-color: #FFE74A;
  }
}

// main container styles
.main__container--firstLoad {
  display: none;
}
.main__container {
  width: 980px;
  flex: 1 0 auto; 
  display: grid;
  grid-template-columns: 260px 680px;
  grid-auto-rows: auto;
  grid-template-areas:
      "weather chart"
      "weather chart"
      "forecast forecast";
  align-content: start;
  padding-top: 40px;
  grid-column-gap: 40px;
  grid-row-gap: 20px;
}


.weatherForToday{
  grid-area: weather;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}


.weatherToday {
  &__header {
    width: 260px;
    min-width: 160px;
    max-height: 120px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding-left: 30px;
    padding-right: 10px;
    padding-bottom: 19px;
    align-content: center;
    border: 1px solid rgba(25, 73, 100, 0.38);
    border-radius: 5px;
  }
  &__head {
    text-align: start;
    margin-bottom: 0;
  }

  &__degrees {
    width: 260px;
    min-width: 160px;
    height: 116px;
    padding-top: 20px;
    background: radial-gradient(50% 50% at 50% 50%, #516F81 0%, #425B6A 100%);
    align-items: center;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 15px;
  }

  &__parameters {
    display: flex;
    flex-direction: column;
    width: 260px;
    min-width: 160px;

  }
  &__parameter {
    margin-top: -1px;
    min-height: 40px;
    border: 1px solid rgba(25, 73, 100, 0.38);
    border-radius: 5px;
    line-height: 0.6;
    padding-left: 7px;
    font-size: 0.75rem;
    display: flex;
  }

  &__parameterName {
    width: 90px;
    text-align: left;
  }
  &__parameterValue {
    float: center;
  }
}

.headText {
  margin-top: 0;
  margin-bottom: 0;

  &--head {
    text-align: left;
    padding-left: 20px;
  }

  &--degrees {
    color: #FFE74A;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.51);
    font-size: 42px;
    margin-left: 10px;
  }

  &--description {
    color: #FFFFFF;
  }
}

.chartTemp {
  position: relative;
  width: 680px;
  height: 341px;
  border: 1px solid rgba(25, 73, 100, 0.38);
  border-radius: 5px;
  grid-area: chart;
  display: flex;
  justify-content: center;
  align-items: center;

  &__canvas {
    border-radius: 5px;
  }

  &__tooltip {
    height: 40px;
    width: 100px;
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: #fff;
    border-radius: 5px;
    border: 2px solid #153B51;
    font-size: 12px;
    padding: 5px;
  }
}

.weatherForecast {
  position: relative;
  grid-area: forecast;
  max-width: 61.25rem;
  min-height: 5.3125rem;
  border: 1px solid rgba(25, 73, 100, 0.38);
  border-radius: 5px;
  display: flex;
  padding: 10px;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 10px;

  &__day {
    width: 120px;
    height: 65px;
    border-radius: 5px;
    border: 1px solid rgba(25, 73, 100, 0.38);
    background-color: #F3F3F3;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1.5;
  }
  &__dayElement {
    margin: 5px;
  }
}



.weatherImage {
  filter: brightness(0) saturate(100%) invert(87%) sepia(81%) saturate(3834%) hue-rotate(320deg) brightness(111%) contrast(103%);
}
.footer--firstLoad {
  display: none;
}
.footer__image {
  width: 100%;
  height: 15vh;
  background-image: url("../assets/img/Footer.svg");
  background-size: cover;
  background-repeat: no-repeat;
  flex-shrink: 0;
}

@media only screen and (max-device-width: 416px ) and (orientation: portrait),
only screen and (max-width: 416px) {
  
  .logo {
    width: 90%;
  }

  .header {
    padding: 10px;
    min-height: 250px;
    height: 23vh;
    &__search {
      width: 80%;
      height: 50%;
      max-height: 400px;
      flex-wrap: wrap;
      //margin-bottom: 20px;
      justify-content: space-evenly;
      align-content: space-between;
      
      &--input {
        //margin: 0 0 20px 0;
        
      }

      &--button {
        width: 50%;
      }
    }
  }

  .main__container {
    width: 90vw;
    padding-top: 20px;
    display: grid;
    grid-template-columns: 100%;
    grid-template-areas:
        "weather"
        "forecast";
    justify-items: center;

  }

  .chartTemp {
    display: none;
  }

  .weatherForToday {
    width: 80vw;
    align-items: center;
  }

  .weatherToday {
    
    &__header {
      width: 100%;
    }

    &__degrees {
      width: 100%;
    }

    &__parameters {
      width: 100%;
    }
  }


  .weatherForecast {
    width: 80vw;
    flex-direction: column;
    padding-top: 20px;

    &__day {
      width: 90%;
      margin-bottom: 10px;
    }
  }
} 

@media only screen and (max-device-width : 731px) and (orientation: landscape)  {
  
  .logo {
    width: 90%;
  }

  .header {
    padding: 10px;
    height: 47vw;
    &__search {
      width: 60%;
      max-height: 120px;
      height: 43%;
      flex-wrap: wrap;
      justify-content: space-evenly;
      align-content: space-between;

      &--button {
        width: 50%;
      }
    }
  }

  .main__container {
    width: 90vw;
    padding-top: 20px;
    display: grid;
    grid-template-columns: 100%;
    grid-template-areas:
        "weather"
        "forecast";
    justify-items: center;

  }

  .chartTemp {
    display: none;
  }

  .weatherForToday {
    width: 80vw;
    align-items: center;
  }

  .headText--degrees {
    margin-right: 20px;
  }

  .weatherToday {
    
    &__header {
      width: 100%;
    }

    &__degrees {
      width: 100%;
    }

    &__parameters {
      width: 100%;
    }
  }

  .headText--degrees {
    margin-right: 20px;
  }

  .weatherForecast {
    width: 80vw;
    flex-direction: column;
    padding-top: 20px;

    &__day {
      width: 90%;
      margin-bottom: 10px;
    }
  }
}

@media only screen and (max-width : 731px) and (orientation: portrait)  {
  
  .logo {
    width: 90%;
  }

  .header {
    padding: 10px;
    height: 30vh;
    &__search {
      max-height: 120px;
      height: 50%;
      width: 59vw;
      flex-wrap: wrap;
      justify-content: space-evenly;
      align-content: space-between;

      &--input {
        width: 59vw;
      }

      &--button {
        width: 50%;
      }
    }
  }

  .main__container {
    width: 90vw;
    padding-top: 20px;
    display: grid;
    grid-template-columns: 100%;
    grid-template-areas:
        "weather"
        "forecast";
    justify-items: center;

  }

  .chartTemp {
    display: none;
  }

  .weatherForToday {
    width: 80vw;
    align-items: center;
  }

  .weatherToday {
    &__header {
      width: 100%;
    }

    &__degrees {
      padding-left: 10px;
      padding-right: 10px;
      width: 100%;
    }

    &__parameters {
      width: 100%;
    }
  }

  .headText--degrees {
    margin-right: 20px;
  }

  .weatherForecast {
    width: 80vw;
    flex-direction: column;
    padding-top: 20px;

    &__day {
      width: 90%;
      margin-bottom: 10px;
    }
  }
}

@media only screen and (min-device-width : 732px) and (max-device-width : 1024px) and (orientation: portrait),
only screen and (min-width : 732px) and (max-width : 1024px) {

  .header {
    padding: 10px;
    min-height: 32vh;
    &__search {
      width: 80%;
      max-height: 120px;
      height: 50%;
      flex-wrap: wrap;
      margin-bottom: 20px;
      justify-content: space-evenly;
      align-content: space-between;
      
      &--input {
        width: 60vw;
      }

      &--button {
        width: 40%;
      }

    }
  }


  .chartTemp {
    display: none;
  }
  .main__container {
    width: 90vw;
    grid-template-columns: auto;
    grid-template-rows: auto;
    padding: 20px;
    grid-template-areas:
      "weather"
      "forecast";
    justify-items: center;
  }

  .weatherForToday {
    width: 80vw;
    flex-direction: row;
    justify-content: space-evenly;
    justify-self: center;
    flex-wrap: wrap;
  }
  
  .weatherToday {
    &__header {
      flex-grow: 1;
    }

    &__degrees {
      padding: 20px;
      flex-grow: 1;
      
      
    }

    &__parameters {
      flex-grow: 1;
    }
  }

  .headText--degrees {
    margin-right: 20px;
  }

  .weatherForecast {
    width: 80vw;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-between;
    margin-bottom: 10px;
    padding-top: 15px;
    

    &__day {
      margin-right: 5px;
      margin-left: 5px;
      margin-bottom: 5px;
      flex: 1 1 40%;
    }
  }
}

@media only screen and (min-device-width : 732px) and (max-device-width : 1024px) and (orientation: landscape)  {

  .header {
    padding: 10px;
    min-height: 36vw;
    &__search {
      width: 80%;
      max-height: 120px;
      height: 50%;
      flex-wrap: wrap;
      margin-bottom: 20px;
      justify-content: space-evenly;
      align-content: space-between;
      
      &--input {
        width: 60vw;
      }

      &--button {
        width: 40%;
      }

    }
  }


  .chartTemp {
    display: none;
  }
  .main__container {
    width: 90vw;
    grid-template-columns: auto;
    grid-template-rows: auto;
    padding: 20px;
    grid-template-areas:
      "weather"
      "forecast";
    justify-items: center;
  }

  .weatherForToday {
    width: 80vw;
    flex-direction: row;
    justify-content: space-evenly;
    justify-self: center;
    flex-wrap: wrap;
  }
  
  .weatherToday {
    &__header {
      flex-grow: 1;
    }

    &__degrees {
      flex-grow: 1;
      
      
    }

    &__parameters {
      flex-grow: 1;
    }
  }

  .weatherForecast {
    width: 80vw;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-between;
    margin-bottom: 10px;
    padding-top: 15px;
    

    &__day {
      margin-right: 5px;
      margin-left: 5px;
      margin-bottom: 5px;
      flex: 1 1 40%;
    }
  }
}

@media only screen  and (min-width : 1025px) and (max-width: 1700px) {

  .header {
    height: 28vh;
  
    &__search {
      max-width: 730px;
      width: 45%;
      height: 10vh;
      display: flex;
      justify-content: space-around;
      align-content: space-around;
      flex-wrap: wrap;
  
      &--input {
        min-width: 225px;
        width: 25vw;
        height: 45px;
        border-radius: 5px;
        border: none;
        padding: 10px;
        font-weight: 900;
        
      }
      &--button {
        min-width: 100px;
        width: 10vw;
        height: 45px;
        font-weight: 900;
      }
    }
    &__geolocalization {
      &--button {
        width: 80px;
        height: 45px;
        margin:0;
        background-image: url("../assets/img/localization.svg");
        background-repeat: no-repeat;
        background-position: center;
        transition: background-image .3 ease-in-out;
  
        &:hover {
          background-image: url("../assets/img/localization1.svg");
          
        }
      }
      
     
    }
  
    
  }

  .weatherForecast {
    height: 341px;
    column-gap: 1;
    row-gap: 0px;
    justify-content: space-around;
    flex-wrap: wrap;
    
    
    &__day {
      margin-right: 5px;
      margin-left: 5px;
      flex: 1 1 40%;
    }
  }


}

